<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .error {
            color: red;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <style>
    </style>
    <h1>Đăng nhập</h1>
    <form method="POST" action="/login" enctype="multipart/form-data">
        <label>Email:</label>
        <input type="text" name="email" value="{{email}}">
        <br>
        {%if errors.get('email') %}
            <span class="error">{{errors['email']}}</span><br>
        {%endif%}

        <label>Mật khẩu:</label>
        <input type="password" name="password" value="{{password}}"> 
        <br>
        {%if errors.get('password') %}
            <span class="error">{{ errors['password']}}</span><br>
        {%endif%}

        <br>
        <label>Chọn ảnh đại diện:</label>
        <input type="file" name="avatar">
        <br>
        {%if errors.get('file') %}
        <span class="error">{{ errors['file']}}</span><br>
        {%endif%}
        <button type="submit">Đăng nhập</button>
    </form>
</body>
</html>