{% extends 'layout/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/rate.css' %}">
<link rel="stylesheet" href="{% static 'css/comment.css' %}">
{% endblock %}

{% block title %}Blog Single | E-Shopper{% endblock %}

{% block content %}
<div class="col-sm-9">
					<div class="blog-post-area">
						<h2 class="title text-center">Latest From our Blog</h2>
						<div class="single-blog-post">
							<h3>{{ blog.title }}</h3>
							<div class="post-meta">
								<ul>
									<li><i class="fa fa-user"></i> {% if blog.author %}{{ blog.author.get_full_name|default:blog.author.username }}{% else %}Ẩn danh{% endif %}</li>
									<li><i class="fa fa-clock-o"></i> {{ blog.created_at|date:"H:i" }}</li>
									<li><i class="fa fa-calendar"></i> {{ blog.created_at|date:"d M, Y" }}</li>
								</ul>
							</div>
							<a href="">
								<img src="{{ blog.image.url }}" alt="{{ blog.title }}">
							</a>
							{% if blog.description %}
							<p>{{ blog.description }}</p> <br>
							{% endif %}

							<div class="single-blog-post-content">
								{{ blog.content|safe }}
							</div>

							<div class="pager-area">
								<ul class="pager pull-right">
									{% if prev_post %}
									<li><a href="{% url 'blog_detail' prev_post.pk %}">Prev</a></li>
									{% endif %}
									{% if next_post %}
									<li><a href="{% url 'blog_detail' next_post.pk %}">Next</a></li>
									{% endif %}
								</ul>
							</div>
						</div>
					</div><!--/blog-post-area-->

					<div class="rating-area">
						{% csrf_token %}
						<div class="rate" data-blog-id="{{ blog.id }}" data-avg="{{ average_rating }}" data-user-rated="{% if check %}1{% else %}0{% endif %}">
							<div class="vote">
								{% for star in stars %}
									<div class="ratings_stars{% if average_rating >= star %} ratings_over{% endif %}"><input value="{{ star }}" type="hidden">
									</div>
								{% endfor %}
								<span class="rate-np">Avg: {{ average_rating }}</span>
								<span class="rate-np rate-count">({{ rate_count }} votes)</span>
							</div>
						</div>
						<ul class="tag">
							<li>TAG:</li>
							<li><a class="color" href="">Pink <span>/</span></a></li>
							<li><a class="color" href="">T-Shirt <span>/</span></a></li>
							<li><a class="color" href="">Girls</a></li>
						</ul>
					</div><!--/rating-area-->

					<div class="socials-share">
						<a href=""><img src="{% static 'images/blog/socials.png' %}" alt=""></a>
					</div><!--/socials-share-->

					<div class="media commnets">
						<a class="pull-left" href="#">
							<img class="media-object" src="{% static 'images/blog/man-one.jpg' %}" alt="">
						</a>
						<div class="media-body">
							<h4 class="media-heading">Annie Davis</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<div class="blog-socials">
								<ul>
									<li><a href=""><i class="fa fa-facebook"></i></a></li>
									<li><a href=""><i class="fa fa-twitter"></i></a></li>
									<li><a href=""><i class="fa fa-dribbble"></i></a></li>
									<li><a href=""><i class="fa fa-google-plus"></i></a></li>
								</ul>
								<a class="btn btn-primary" href="">Other Posts</a>
							</div>
						</div>
					</div>
					<div class="response-area">
						{% if messages %}
						{% for message in messages %}
						<div class="alert alert-info">{{ message }}</div>
						{% endfor %}
						{% endif %}

						<h2>{{ comment_count }} RESPONSES</h2>
						<ul class="media-list">
							{% for cmt in comments %}
							<li class="media" id="comment-{{ cmt.id }}">
								<a class="pull-left" href="#">
									<img class="media-object" src="{{ cmt.id_user.avatar.url }}" alt="{{ cmt.id_user.username }}">
								</a>
								<div class="media-body">
									<ul class="sinlge-post-meta">
										<li><i class="fa fa-user"></i>{{ cmt.id_user.username }}</li>
										<li><i class="fa fa-clock-o"></i> {{ cmt.created_at|date:"H:i" }}</li>
										<li><i class="fa fa-calendar"></i> {{ cmt.created_at|date:"d M, Y" }}</li>
									</ul>
									<p>{{ cmt.content|linebreaksbr }}</p>
									<a class="btn btn-primary btn-reply" href="#" data-parent-id="{{ cmt.id }}" data-parent-name="{{ cmt.id_user.username }}"><i class="fa fa-reply"></i>Replay</a>
								</div>
							</li>

							{% for reply in cmt.replies.all %}
							<li class="media second-media" id="comment-{{ reply.id }}">
								<a class="pull-left" href="#">
									<img class="media-object" src="{{ reply.id_user.avatar.url }}" alt="{{ reply.id_user.username }}">
								</a>
								<div class="media-body">
									<ul class="sinlge-post-meta">
										<li><i class="fa fa-user"></i>{{ reply.id_user.username }}</li>
										<li><i class="fa fa-clock-o"></i> {{ reply.created_at|date:"H:i" }}</li>
										<li><i class="fa fa-calendar"></i> {{ reply.created_at|date:"d M, Y" }}</li>
									</ul>
									<p>{{ reply.content|linebreaksbr }}</p>
									<a class="btn btn-primary btn-reply" href="#" data-parent-id="{{ cmt.id }}" data-parent-name="{{ reply.id_user.username }}"><i class="fa fa-reply"></i>Replay</a>
								</div>
							</li>
							{% endfor %}

							{% empty %}
							<li class="media">
								<div class="media-body">
									<p>Chưa có bình luận nào. Hãy là người bình luận đầu tiên!</p>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div><!--/Response-area-->
					<div class="replay-box">
						<div class="row">
							<div class="col-sm-12">
								

								<form id="comment-form" method="post" action="{% url 'comment_blog' blog.id %}" data-logged="{% if user.is_authenticated %}1{% else %}0{% endif %}">
									{% csrf_token %}
									<input type="hidden" name="parent_id" id="parent-id" value="">
									<div class="text-area">
										<div class="blank-arrow">
											<label>{% if user.is_authenticated %}{{ user.username }}{% else %}Your Name{% endif %}</label>
										</div>
										<span>*</span>
										<p id="replying-to" style="display:none;">
											Đang trả lời <b id="replying-name"></b>
											&nbsp;<a href="#" id="cancel-reply">(Hủy)</a>
										</p>
										<textarea name="content" id="comment-content" rows="11" placeholder="Nhập bình luận của bạn..."></textarea>
										<button type="submit" class="btn btn-primary">post comment</button>
									</div>
								</form>
							</div>
						</div>
					</div><!--/Repaly Box-->
				</div>
{% endblock %}

{% block extra_js %}
<script>
	$(document).ready(function () {
    const csrftoken = $('[name=csrfmiddlewaretoken]').val();
    const $wrap = $('.rate');
    const blogId = $wrap.data('blog-id');

    // hover sao khi rê chuột
    $('.ratings_stars').hover(
        function () {
            $(this).prevAll('.ratings_stars').addBack().addClass('ratings_hover');
        },
        function () {
            $(this).prevAll('.ratings_stars').addBack().removeClass('ratings_hover');
        }
    );

    // click sao
    $('.ratings_stars').click(function () {
        const rate = $(this).find('input').val();

        if ($(this).hasClass('ratings_over')) {
		            $('.ratings_stars').removeClass('ratings_over');
		            $(this).prevAll().andSelf().addClass('ratings_over');
		        } else {
		        	$(this).prevAll().andSelf().addClass('ratings_over');
		        }

        $.ajax({
            type: 'POST',
            url: '/blog/' + blogId + '/rate/',
            data: { rate: rate },
            headers: { 'X-CSRFToken': csrftoken },
            success: function (data) {

                if (data.success) {
                    // cập nhật rate-count
                    $('.rate-count').text('(' + data.rate_count + ' votes)');
                    // cập nhật lại điểm trung bình
                    $wrap.data('avg', data.average_rating);

                    
                }

                alert(data.message);
            }
        });
    });
	//Commnent
    const $form = $('#comment-form');

    $('.btn-reply').click(function (e) {
        e.preventDefault();
        $('#parent-id').val($(this).data('parent-id'));
        $('#replying-name').text($(this).data('parent-name'));
        $('#replying-to').show();
        $('html, body').animate({ scrollTop: $form.offset().top - 100 }, 400);
        $('#comment-content').focus();
    });

    $('#cancel-reply').click(function (e) {
        e.preventDefault();
        $('#parent-id').val('');
        $('#replying-to').hide();
    });

    $form.submit(function (e) {
        if ($form.data('logged') != 1) {
            e.preventDefault();
            alert('Vui lòng đăng nhập để bình luận.');
            return false;
        }
        if ($.trim($('#comment-content').val()) === '') {
            e.preventDefault();
            alert('Bạn chưa nhập nội dung bình luận.');
            return false;
        }
    });
});
</script>
{% endblock %}
