{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Blog | E-Shopper{% endblock %}

{% block content %}
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<div class="blog-post-area">
						<h2 class="title text-center">Latest From our Blog</h2>

						{% for post in page_obj %}
						<div class="single-blog-post">
							<h3><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h3>
							<div class="post-meta">
    							<ul>
        							<li><i class="fa fa-user"></i> {% if post.author %}{{ post.author.get_full_name|default:post.author.username }}{% else %}Ẩn danh{% endif %}</li>
        							<li><i class="fa fa-clock-o"></i> {{ post.created_at|date:"H:i" }}</li>
        							<li><i class="fa fa-calendar"></i> {{ post.created_at|date:"d M, Y" }}</li>
    							</ul>
    							<div class="rate">
        							<div class="vote">
            							<i class="fa fa-star ratings_stars ratings_over"></i>
            							<i class="fa fa-star ratings_stars ratings_over"></i>
            							<i class="fa fa-star ratings_stars ratings_over"></i>
            							<i class="fa fa-star ratings_stars ratings_over"></i>
            							<i class="fa fa-star-half-o ratings_stars ratings_over"></i>
            							<i class="rate-np">4.5</i>
        							</div>
    							</div>
							</div>
							<a href="{% url 'blog_detail' post.pk %}">
								{% if post.image %}
								<img src="{{ post.image.url }}" alt="{{ post.title }}">
								{% else %}
								<img src="{% static 'images/blog/blog-one.jpg' %}" alt="{{ post.title }}">
								{% endif %}
							</a>
							<p>{{ post.description|default:post.content|striptags|truncatewords:40 }}</p>
							<a class="btn btn-primary" href="{% url 'blog_detail' post.pk %}">Read More</a>
						</div>
						{% empty %}
						<p class="text-center">Chưa có bài viết nào.</p>
						{% endfor %}

						{% if page_obj.paginator.num_pages > 1 %}
						<div class="pagination-area">
							<ul class="pagination">
								{% if page_obj.has_previous %}
								<li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-double-left"></i></a></li>
								{% endif %}

								{% for num in page_obj.paginator.page_range %}
									{% if num == page_obj.number %}
									<li><a href="?page={{ num }}" class="active">{{ num }}</a></li>
									{% else %}
									<li><a href="?page={{ num }}">{{ num }}</a></li>
									{% endif %}
								{% endfor %}

								{% if page_obj.has_next %}
								<li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-double-right"></i></a></li>
								{% endif %}
							</ul>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
{% endblock %}
{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/rate.css' %}">
{% endblock %}