{% extends 'shop/base.html' %}

{% block content %}
    <h2>Thêm sản phẩm mới</h2>
    <form method="post">
        {% csrf_token %}
        <label>Tên sản phẩm:</label><br>
        <input type="text" name="name" required><br>
        
        <label>Mô tả:</label><br>
        <textarea name="description" required></textarea><br>
        
        <label>Giá:</label><br>
        <input type="number" step="0.01" name="price" required><br>
        
        <input type="submit" value="Thêm">
    </form>
{% endblock %}