{% load static %}
<div class="col-sm-4">
	<div class="product-image-wrapper">
		<div class="single-products">
			<div class="productinfo text-center">
				{% if p.images %}
					<a href="{% url 'product_details' p.id %}">
						<img class="img" src="/media/products/{{ p.images.0 }}" alt="{{ p.name }}" />
					</a>
				{% endif %}
				<h2 class="price">${{ p.price }}</h2>
				<p class="name">
					<a href="{% url 'product_details' p.id %}">{{ p.name }}</a>
				</p>
				<a href="#" class="btn btn-default add-to-cart" data-id="{{ p.id }}"><i class="fa fa-shopping-cart"></i>Add to cart</a>
			</div>

			{% if p.status == 1 %}
				<img src="{% static 'images/home/sale.png' %}" class="new" alt="" />
			{% else %}
				<img src="{% static 'images/home/new.png' %}" class="new" alt="" />
			{% endif %}

			<div class="product-overlay">
				<div class="overlay-content">
					<h2 class="price">${{ p.price }}</h2>
					<p class="name"><a href="{% url 'product_details' p.id %}">{{ p.name }}</a></p>
					<a href="#" class="btn btn-default add-to-cart" data-id="{{ p.id }}"><i class="fa fa-shopping-cart"></i>Add to cart</a>
				</div>
			</div>
		</div>
		<div class="choose">
			<ul class="nav nav-pills nav-justified">
				<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
				<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
			</ul>
		</div>
	</div>
</div>
