{% extends 'layout/main.html' %}

{% block title %}Add Product{% endblock %}

{% block content %}
	<section id="form">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-4">
					<div class="signup-form">
						<h2>Thêm sản phẩm</h2>
						<form action="{{ url_for('product.add_product') }}" method="POST" enctype="multipart/form-data">
							<input type="text" name="title" placeholder="Tên sản phẩm" value="{{ title }}"/>
							{% if errors.get('title') %}
								<span style="color:red;font-size:13px;display:block;margin-top:-10px;margin-bottom:10px;">{{ errors['title'] }}</span>
							{% endif %}

							<input type="number" step="0.01" name="price" placeholder="Giá" value="{{ price }}"/>
							{% if errors.get('price') %}
								<span style="color:red;font-size:13px;display:block;margin-top:-10px;margin-bottom:10px;">{{ errors['price'] }}</span>
							{% endif %}

							<input type="file" name="image" style="margin-top:10px;margin-bottom:5px;"/>
							{% if errors.get('image') %}
								<span style="color:red;font-size:13px;display:block;margin-bottom:10px;">{{ errors['image'] }}</span>
							{% endif %}

							<button type="submit" class="btn btn-default">Đăng bán</button>
						</form>
						<a href="{{ url_for('product.my_product') }}" style="display:block; margin-top:15px;">← Quay lại</a>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}