{% extends 'layout/main.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>New User Signup!</h2>
						<form action="{{ url_for('register.register') }}" method="POST" enctype="multipart/form-data">
							<input type="text" name="name" placeholder="Name" value="{{ name }}"/>
							{% if errors.get('name') %}
								<span style="color:red;font-size:13px;display:block;margin-top:-10px;margin-bottom:10px;">{{ errors['name'] }}</span>
							{% endif %}

							<input type="text" name="email" placeholder="Email Address" value="{{ email }}"/>
							{% if errors.get('email') %}
								<span style="color:red;font-size:13px;display:block;margin-top:-10px;margin-bottom:10px;">{{ errors['email'] }}</span>
							{% endif %}

							<input type="password" name="password" placeholder="Password"/>
							{% if errors.get('password') %}
								<span style="color:red;font-size:13px;display:block;margin-top:-10px;margin-bottom:10px;">{{ errors['password'] }}</span>
							{% endif %}

							<input type="file" name="avatar" style="margin-top:10px;margin-bottom:5px;"/>
							{% if errors.get('avatar') %}
								<span style="color:red;font-size:13px;display:block;margin-bottom:10px;">{{ errors['avatar'] }}</span>
							{% endif %}

							<button type="submit" class="btn btn-default">Signup</button>
						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->

	{% if success %}
	<script>
		alert("Đăng ký thành công!");
		window.location.href = "{{ url_for('login.login') }}";
	</script>
	{% endif %}
{% endblock %}