{% extends 'layout/base.html' %}

{% block title %}Cart | E-Shopper{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody id="cart-table">
						{% for item in items %}
						<tr data-id="{{ item.id }}">
							<td class="cart_product">
								{% if item.image %}
								<a href=""><img src="/media/products/{{ item.image }}" alt="" width="110"></a>
								{% endif %}
							</td>
							<td class="cart_description">
								<h4><a href="{% url 'product_details' item.id %}">{{ item.name }}</a></h4>
								<p>Web ID: {{ item.id }}</p>
							</td>
							<td class="cart_price">
								<p>${{ item.price }}</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href=""> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="{{ item.qty }}" autocomplete="off" size="2" readonly>
									<a class="cart_quantity_down" href=""> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">${{ item.total }}</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>
						{% empty %}
						<tr>
							<td colspan="6" style="text-align:center; padding:30px;">Giỏ hàng trống.</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

	<section id="do_action">
		<div class="container">
			<div class="heading">
				<h3>What would you like to do next?</h3>
				<p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="chose_area">
						<ul class="user_option">
							<li>
								<input type="checkbox">
								<label>Use Coupon Code</label>
							</li>
							<li>
								<input type="checkbox">
								<label>Use Gift Voucher</label>
							</li>
							<li>
								<input type="checkbox">
								<label>Estimate Shipping & Taxes</label>
							</li>
						</ul>
						<ul class="user_info">
							<li class="single_field">
								<label>Country:</label>
								<select>
									<option>United States</option>
									<option>Bangladesh</option>
									<option>UK</option>
									<option>India</option>
									<option>Pakistan</option>
									<option>Ucrane</option>
									<option>Canada</option>
									<option>Dubai</option>
								</select>
								
							</li>
							<li class="single_field">
								<label>Region / State:</label>
								<select>
									<option>Select</option>
									<option>Dhaka</option>
									<option>London</option>
									<option>Dillih</option>
									<option>Lahore</option>
									<option>Alaska</option>
									<option>Canada</option>
									<option>Dubai</option>
								</select>
							
							</li>
							<li class="single_field zip-field">
								<label>Zip Code:</label>
								<input type="text">
							</li>
						</ul>
						<a class="btn btn-default update" href="">Get Quotes</a>
						<a class="btn btn-default check_out" href="">Continue</a>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="total_area">
						<ul>
							<li>Cart Sub Total <span class="cart_sub_total">${{ sub_total }}</span></li>
							<li>Shipping Cost <span>Free</span></li>
							<li>Total <span class="cart_sub_total">${{ sub_total }}</span></li>
						</ul>
							<a class="btn btn-default check_out" href="{% url 'checkout' %}">Check Out</a>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block extra_js %}
<script>
$(document).on("click", ".cart_quantity_up, .cart_quantity_down, .cart_quantity_delete", function (e) {
  e.preventDefault();

  var tr = $(this).closest("tr");
  var id = tr.data("id");

  var action = "up";
  if ($(this).hasClass("cart_quantity_down")) {
    action = "down";
  } else if ($(this).hasClass("cart_quantity_delete")) {
    action = "delete";
  }

  var qty = parseInt(tr.find(".cart_quantity_input").val());
  if (action === "down" && qty <= 1) {
    alert("Số lượng tối thiểu là 1");
    return;
  }

  $.ajax({
    url: "{% url 'update_cart_ajax' %}",
    type: "POST",
    data: {
      id: id,
      action: action,
      csrfmiddlewaretoken: "{{ csrf_token }}"
    },
    success: function (data) {
      if (action === "delete") {
        tr.remove();
      } else {
        tr.find(".cart_quantity_input").val(data.qty);
        tr.find(".cart_total_price").text("$" + data.total);
      }
      $(".cart_sub_total").text("$" + data.sub_total);
      $("#cart-count").text(data.cart_count);
    },
    error: function () {
      alert("Cập nhật giỏ hàng thất bại!");
    }
  });
});
</script>
{% endblock %}
