<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách sản phẩm</title>
</head>
<body>
    <h2>Danh sách sản phẩm</h2>
    <p>
        <a href="add_product">Thêm sản phẩm</a>
    </p>

    <table border='1' cellpadding='5'>
        <tr>
            <th>ID</th>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th>Action</th>
        </tr>

        {% for product in product %}
        <tr>
            <td>{{ product['id'] }}</td>
            <td>{{ product['name'] }}</td>
            <td>{{ product['price'] }}</td>
            <td>
                <a href="edit_product/{{ product['id'] }}">Sửa</a>
                <a href="delete_product/{{ product['id'] }}" onclick="return confirm('Bạn có chắc chắn muốn xóa sản phẩm này?')">Xóa</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>